.featuredcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  max-height: 200px;
}

.mainproduct h1 {
  font-size: 120px;
  min-width: 230px;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
  border-radius: 8px;
}

.mainproduct h1:hover {
  box-shadow: 
  inset 7px 7px 15px rgba(55, 84, 170,.15),
  inset -7px -7px 20px rgba(255, 255, 255,1),
  0px 0px 4px rgba(255, 255, 255,.2);
}

.sideproducts ul {
  list-style-type: none;
}

.sideproducts li {
  margin: 10px;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
  border-radius: 5px;
}

.sideproducts li:hover {
  cursor: pointer;
  box-shadow: 
  inset 7px 7px 15px rgba(55, 84, 170,.15),
  inset -7px -7px 20px rgba(255, 255, 255,1),
  0px 0px 4px rgba(255, 255, 255,.2);
}

.featuredSelect-appear {
  opacity: 0.01;
}

.featuredSelect-appear.featuredSelect-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.featuredSelect-enter {
  opacity: 0.01;
}

.featuredSelect-enter.featuredSelect-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.featuredSelect-leave {
  opacity: 0;
}

.featuredSelect-leave.featuredSelect-leave-active {
  opacity: 0.01;
  transition: opacity 0ms ease-in;
}